[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
itsdangerous = "*"
peewee = "*"
psycopg2 = "*"
python-dateutil = "*"
pytz = "*"
raven = "*"
six = "*"
Flask = "*"
Flask-RESTful = "*"
blinker = "*"

[requires]
python_version = "3.9"
